/*Zera a margem do body*/
body{
    margin: 0;
    padding: 0;
}

/*Define variáveis de cores*/
:root{
    /*header*/
    --header-background: #333;
    --header-background-link-hover-background: #555;
    --header-link:#fff;
    --header-link-active:#484;

    /*conteúdo*/
    --main-background:#fff;
    --main-text-color: #000;

    /*dark mode toggler*/
    --dark-mode-toggler-icon: url('sun-svgrepo-com.png'); 

}



/*Estilização da navbar*/
/* Estilos para o header */
header {
    background-color: var(--header-background);
    padding: 10px 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav.desktop ul {
    flex-direction: row;
}

nav.mobile ul {
    flex-direction: column;
}


nav ul li {
    margin-right: 20px;
    padding: 15px;
    
}

nav ul li:hover {
    background-color: var(--header-background-link-hover-background);
}

nav ul li a {
    color: var(--header-link);
    text-decoration: none;
}
nav ul li.active {
    background-color: var(--header-link-active);
}
nav details summary{
    padding: 20px;
    color:var(--header-link);
    cursor: pointer;
    list-style: none;
}
nav details summary::-webkit-details-marker {
    display: none;
}
nav details summary:hover{
    background-color: var(--header-background-link-hover-background);
}

/*Dark mode*/
.orbit-container{
    display: flex;
    justify-content: end;
}

.orbit-container .orbit{
    display: flex;
    justify-content: center;
    width: 400px;
}

.orbit-container .orbit .dark-mode-item-toggler{
    background-image: var(--dark-mode-toggler-icon);
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-right: 60px;
    cursor: pointer;
    z-index: 0;
}

.orbit-container .orbit .cloud{
    background-image: url('cloud-svgrepo-com.png');
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-right: 60px;
    position: relative;
    z-index: 1;
    animation: cloud-wandering 10s infinite;
}

@keyframes cloud-wandering{
    0% { right: 200px; }
    50% { right: 0; }
    100% { right: 200px; }

}

/*Estilos para o conteúdo*/
body{
    background-color: var(--main-background);
    color: var(--main-text-color);
}
h1{
    text-align: center;
}
main{
    margin: 20px;
}
.card-container{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container .card{
    border: 1px solid var(--main-text-color);
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.about-container{
    display: flex;
    justify-content: center;
}

.about-container .about{
    max-width: 1000px;
}


/*Responsividade*/
@media (max-width: 450px) {
    .desktop{
        display: none;
    }
}
@media (min-width: 451px) {
    .mobile{
        display: none;
        text-align: start;
    }
}