/*Zera a margem do body*/
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Define variáveis de cores*/
:root{
    /*header*/
    --header-background: #333;
    --header-background-link-hover-background: #555;
    --header-link:#fff;
    --header-link-active:#484;

    /*conteúdo*/
    --main-background:#fff;
    --main-text-color: #000;

    /*dark mode toggler*/
    --dark-mode-toggler-icon: url('sun-svgrepo-com.png'); 
    --toggler-background: linear-gradient(to bottom, var(--main-background) 0%, #6fc0e8 50%, #6fc0ff 50%, #0000ff 100%);

}



/*Estilização da navbar*/
/* Estilos para o header */
header {
    background-color: var(--header-background);
    padding: 10px 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav.desktop ul {
    flex-direction: row;
}

nav.mobile ul {
    flex-direction: column;
}


nav ul li {
    margin-right: 20px;
    padding: 15px;
    
}

nav ul li:hover {
    background-color: var(--header-background-link-hover-background);
}

nav ul li a {
    color: var(--header-link);
    text-decoration: none;
}
nav ul li.active {
    background-color: var(--header-link-active);
}
nav details summary{
    padding: 20px;
    color:var(--header-link);
    cursor: pointer;
    list-style: none;
}
nav details summary::-webkit-details-marker {
    display: none;
}
nav details summary:hover{
    background-color: var(--header-background-link-hover-background);
}

/*Responsividade do menu*/
@media (max-width: 450px) {
    .desktop{
        display: none;
    }
}
@media (min-width: 451px) {
    .mobile{
        display: none;
        text-align: start;
    }
}


/*Estilos para o conteúdo*/
body{
    background-color: var(--main-background);
    color: var(--main-text-color);
}
main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}
.card-container .card{
    border: 1px solid var(--main-text-color);
    width: 40%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.about-container{
    display: flex;
    justify-content: center;
}

.about{
    max-width: 1000px;
}
a, a:hover a:visited{
    color: var(--main-text-color);
}

.card ul li{
    margin-bottom: .5em;
}

.card .image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card .image-container img{
    max-height: 400px;
    max-width: 100%;
}
/*Responsividade do conteúdo*/
@media (max-width: 450px) {
    .card-container .card{
        width: 80%;
    }
}

/*Formulário*/
form {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-background);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    width: 100%;
    background-color: var(--header-background);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: var(--header-background-link-hover-background);
}

/*Rodapé*/

/*Dark mode*/
.toggler-container{
    display: flex;
    justify-content: end;
    background: var(--toggler-background);
}


.toggler-container .dark-mode-item-toggler{
    background-image: var(--dark-mode-toggler-icon);
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-right: 60px;
    cursor: pointer;
    z-index: 0;
}

.toggler-container .boat{
    background-image: url('boat-toy-boat-svgrepo-com.png');
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 20px;
    position: relative;
    z-index: 1;
    animation: wandering 60s infinite;
}

@keyframes wandering{
    0% { right: 0; }
    100% { right: 100%; }

}
